.banner {
  /* height: 100px; */
  display: flex;
  /* text-align: center; */
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  /* background-color: yellowgreen; */
  background-image: linear-gradient(#abdcff, #0396ff);
  /*padding: 30px;*/
  text-align: center;
  color: gray;
  width: 70%;
  margin: 0 auto;
  height: 300;
  flex-direction: column;
}
.banner h1 h3 {
  padding: 20px;
}
.faculty {
  /*height: 100px;*/
  /* display: flex; */
  text-align: center;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  /* background-color: blueviolet; */
  width: 70%;
  margin: 0 auto;
}
.container {
  /*border:1px solid red;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.faculty .teacher {
  /*border:1px solid blue;*/
  display: block;
  text-decoration: none;
}
.faculty .teacher img {
  height: 200px;
  width: 200px;
}
.faculty h2 {
  color: rgb(54, 82, 110);
  font-size: 25px;
  text-align: center;
}
.contact {
  display: block;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  /*margin-top: 30px;*/
  /*margin-bottom: 30px;*/
}
.contact h2 {
  color: rgb(54, 82, 110);
  font-size: 25px;
  text-align: center;
}
.contact .infos {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.contact .infos .left {
  display: block;
  text-align: left;
  margin-right: 30px;
}
.contact .infos .left b {
  display: block;
  text-align: left;
  margin-top: 10px;
  text-decoration: bold;
  color: Gray;
  font-size: 18px;
  line-height: 18px;
}
.contact .infos .left span {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: rgba(39, 40, 34, 0.5);
  font-size: 16px;
  padding-left: 27px;
}
.contact .infos .right {
  height: 200px;
}
.contact .infos .right iframe {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(39, 40, 34, 0.5);
}
.slider {
  width: 70%;
  margin: 0 auto;
  background-color: blanchedalmond;
}
.flexslider {
  width: 85%;
}
.slider {
  display: flex;
  justify-content: center;
}
